<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>
<nav class="navbar navbar-dark bg-dark justify-content-md-center">


  <div class="m-20 text-center ">
    <a href="/">
      <button type="button" class="btn btn-info"> Add New Contact</button>
    </a>
    <a href="/search">
      <button type="button" class="btn btn-info">Search</button>
    </a>

  </div>



</nav>

<body class="card bg-light mt-10">
  <div class="container-fluid mt-10">
    <h3 class="text-center font-weight-bold " style="margin-top:30px"">Contact List App</h3>
  </div>

  <div class=" cotainer mx-auto w-50 pt-10 " style="margin-top:20px">
    {% csrf_token %}



    <form action="" method="POST" nonvalidate class="mx-auto ">
      <!-- <fieldset> -->
      <fieldset class="border border-dark rounded mt-auto w-auto" style="padding:10px">
        <legend class="text-center ">Add Contact Details</legend>
        <div class="form-group">
          <label for="fname">First Name</label>
          <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter First Name" required>

        </div>

        <div class="form-group">
          <label for="mname">Middle Name</label>
          <input type="text" class="form-control" id="mname" name="mname" placeholder="Enter Middle Name">

        </div>

        <div class="form-group">
          <label for="lname">Last Name</label>
          <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Last Name" required>
        </div>

        <div id="address_container" class="d-none">
          <div class="address_form">
            <h5 class="my-2">Add Address Details</h5>
            <div class="form-group">
              <label for="address_type">Address Type</label>

              <select class="custom-select custom-select-sm" id="address_type" name="address_type">
                <option selected disabled value="">Open this select address_type</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
              </select>

              <!-- <input type="text" class="form-control" id="lname" name="lname"  placeholder="Enter Last Name"> -->
            </div>

            <div class="form-group">
              <label for="Address">Address</label>
              <input type="text" class="form-control" id="address" name="address" placeholder="Enter Address">
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" name="city" placeholder="Enter City">
            </div>

            <div class="form-group">
              <label for="state">State</label>
              <input type="text" class="form-control" id="state" name="state" placeholder="Enter State">
            </div>

            <div class="form-group">
              <label for="Zipcode">Zipcode</label>
              <input type="number" class="form-control" id="zipcode" name="zipcode" placeholder="Enter Zipcode"
                min="10000" max="99999">
            </div>
          </div>
        </div>

        <div class="my-2 text-center">
          <button class="btn btn-info" id="address_btn">
            Add Another Address
          </button>
        </div>


        <div id="number_container" class="d-none">
          <div id="number_form">

            <h5 class="my-2">Add Number Details</h5>

            <div class="form-group">
              <label for="phone_type">Phone Type</label>

              <select class="custom-select custom-select-sm" id="phone_type" name="phone_type">
                <option selected disabled value="">Open this select phone_type</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
                <option value="other">Other</option>
              </select>
            </div>

            <div class="form-group">
              <label for="area_code">Area Code</label>
              <input type="number" class="form-control" id="area_code" name="area_code" placeholder="Enter Area Code"
                min="100" max="999">
            </div>

            <div class="form-group">
              <label for="Phone">Phone</label>
              <input type="number" class="form-control" id="phone" name="phone" placeholder="Enter Phone"
                pattern="[0-9]{7}">
            </div>
          </div>
        </div>

        <div class="my-2 text-center">
          <button class="btn btn-info" id="number_btn">Add Another Number</button>
        </div>


        <div id="date_container" class="d-none">
          <div id="date_form">
            <h5 class="my-2">Add Date Details</h5>
            <div class="form-group">
              <label for="date_type">Date Type</label>

              <select class="custom-select custom-select-sm" id="date_type" name="date_type"
                placeholder="Enter Date Type">
                <option selected value="" disabled>Open this select Date_Type</option>
                <option value="birthday">Birthday</option>
                <option value="aniversary">Aniversary</option>
                <option value="other">Other</option>
              </select>

              <!-- <input type="text" class="form-control" id="lname" name="lname"  placeholder="Enter Last Name"> -->
            </div>

            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" class="form-control" id="date" name="date" placeholder="Enter Date">
            </div>
          </div>
        </div>

        <div class="my-2 text-center">

          <button class="btn btn-info" id="date_btn">Add Another Date</button>

        </div>


        <center>
          <button type="submit" class="btn btn-success">Submit</button>
        </center>
      </fieldset>

    </form>

  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  <!-- <div class="mx-20 d-flex justify-content-around my-20">
      <a href="/show">
        <button type="submit" class="btn btn-info  d-flex justify-content-around mb-20">Show Data</button>
      </a>
      <br />
      <a href="/show_list">
        <button type="submit" class="btn btn-info d-flex justify-content-around my-auto">Search</button>
      </a>
  
    </div> -->
</body>

<script>
  $("#address_btn").click(function (e) {
    e.preventDefault();
    var classes = $("#address_container").attr("class").split(/\s+/);
    if (classes[0] == "d-none") {
      $("#address_container").removeClass("d-none");
    } else {
      $("#address_container").append(
        $("#address_container :nth-child(1)").html()
      );
    }
  });
  $("#number_btn").click(function (e) {
    e.preventDefault();
    var classes = $("#number_container").attr("class").split(/\s+/);
    if (classes[0] == "d-none") {
      $("#number_container").removeClass("d-none");
    } else {
      $("#number_container").append(
        $("#number_container :nth-child(1)").html()
      );
    }
  });
  $("#date_btn").click(function (e) {
    e.preventDefault();
    var classes = $("#date_container").attr("class").split(/\s+/);
    if (classes[0] == "d-none") {
      $("#date_container").removeClass("d-none");
    } else {
      $("#date_container").append(
        $("#date_container :nth-child(1)").html()
      );
    }
  });
</script>

</html>